/* CATALOGO CATALOGO CATALOGO */
/* CATALOGO CATALOGO CATALOGO */

/* Header */

nav {background-color: rgb(27, 26, 26) !important;
    .navbar-nav {
        font-family:$fontTitulos;
        font-size: 22px;
    }

.nav-item {
    padding: 0px 10px;
}

.nav-link:hover {
    color:$colorPrincipal !important;
}}




/* MAIN*/
.h1__catalogo {@include tituloPrincipal();
    margin-bottom: 50px;
    &:hover {
        color:$colorSecundario
    }
}

.tituloFinal{
        @include titulo__previoFooter
    }
    .secFinal{
        height: 170px;
        background-image: url(../images/PortadaBanner.jpg);
        background-position: center;
        background-size: cover;
        
    }
    .titulo2 {
        @include tituloSecundario()
    }
    .section2 {
        margin-top: px;
        .cardCatalogo{
            .card-titleCat{
                color:$colorSecundario;
                .card-textCat{
                    color:$colorSecundario;
                }
            }
        }  
    }



/*  Footer */

#footer {
    margin-top: 10rem;
    background-color: black;
    height: 150px;
    .redes {
        display: flex;
        justify-content: center;
    }
    button {
        width: 100px;
        height: 50px;
        background-color:black;
        color: white;
        border: none;
        font-size: 30px;
    }
    button a  {
        color:$colorSecundario;
        &:hover {color:$colorPrincipal;}
    }
    .copyright {
        display: flex;
        justify-content: center;
        margin:50px 0;
        color:$colorSecundario
    }
}

//Primer Media Query

@media only screen and (min-width:320px) and (max-width:425px){
    .h1__catalogo{
        font-size: 43px;
    }
    .cardCatalogo{
        margin: 70px 0px;
        .card-img-centerCat{
            height: 500px;
            width: 100%;
        }
        .card-bodyCat{
            padding:30px;
            .card-titleCat{
                color:$colorPrincipal;
                font-family:$fontPrincipal;
                font-size: 25px;
                margin: 15px;
            }
            .card-textCat {
                color:$colorSecundario;
                font-size: 15px;
                font-family:$fontPrincipal;
                line-height: 35px;
                strong{
                    &.precio{
                        font-size:22px;
                        color: $colorPrincipal;
                    }
                }
             }
            }
        }
        .secFinal{
            background-position:center;
            background-size:cover;
            background-repeat: no-repeat;
        }
    }

//Segunda Media Query

@media only screen and (min-width:425px){
    .h1__catalogo{
        font-size: 55px;
    }
    .cardCatalogo{
        margin: 70px 0px;
        .card-img-centerCat{
            height: 600px;
            width: 100%;
        }
        .card-bodyCat{
            padding:30px;
            .card-titleCat{
                color:$colorPrincipal;
                font-family:$fontPrincipal;
                font-size: 25px;
                margin: 15px;
            }
            .card-textCat {
                color:$colorSecundario;
                font-size: 15px;
                font-family:$fontPrincipal;
                line-height: 35px;
                strong{
                    &.precio{
                        font-size:22px;
                        color: $colorPrincipal;
                    }
                }
             }
            }
        }
        .secFinal{
            background-position:center;
            background-size:cover;
            background-repeat: no-repeat;
            width:100%;
            
            margin: 0px 0px 30px 0px;
        }
    }

 //Tercer Media Query

@media only screen and (min-width:768px){
    .h1__catalogo{
        font-size: 65px;
    }
    .cardCatalogo{
        width: 320px;
        height: 150px;
        margin: 50px auto 700px auto;
        .card-img-centerCat{
            height: 450px;
            border-radius: 10px;
        }
    }
    .secFinal{
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        width:100%;
        height: 170px;
    }
}
//Cuarta Media Query

@media only screen and (min-width:1440px){
    .cardCatalogo{
        width: 450px;
        height: 350px;
        transform: scale(1);
        transition: all 1s ease;
        &:hover{
            transform: scale(1.1);
        }
        .card-img-centerCat{
            height: 625px;
        }
    }
    .seccionFinal{
        margin-bottom: 400px;
        height: 100px;
        background-size: cover;
        background-position: center;
        .secFinal{
            height: 350px;
        }
        
    }
}
