/* INDEX INDEX */

/* Header */

nav {
    background-color: rgb(27, 26, 26) !important;
    .navbar-nav {
        font-family:$fontTitulos;
        font-size: 22px;
    }
    .nav-item {
        padding: 0px 10px;
    }
    .nav-link:hover{
        color:$colorPrincipal!important;
    }
}


/* Carousel */

.mainCarousel {
    margin-top:80px;
}
.banner{
    width:100%;
}
.carousel-caption{
    margin-top: 500px
}


/* Titulo y Cards */

.titulo2 {
    @include tituloSecundario();
    font-size: 55px;
    &:hover {
        color:$colorSecundario;
    }
}

//Titulo Final
.tituloFinal{
    @include titulo__previoFooter
}

/* Footer */

#footer {
    margin-top: 100px;
    background-color: black;
    height: 150px;
    .redes {
        display: flex;
        justify-content: center;
    }
    button {
        width: 100px;
        height: 50px;
        background-color:black;
        color: white;
        border: none;
        font-size: 30px;
    }
    button a  {
        color: white;
        &:hover{color:$colorPrincipal;}
    }
    .copyright {
        display: flex;
        justify-content: center;
        margin:50px 0;
        color:$colorSecundario
    }
}

//Primer Media Query 

@media only screen and (min-width:320px){
    //H1
    .h1_index{
        @include tituloPrincipal;
        font-size:47px;
    }
    //Carousel
    .banner {
        height: 350px;
    }
    //Acerca de nosotros
    .titulo2{
        font-size:40px;
    }
    //Cards
    .card{
        height: 925px;
        margin: 80px 0px;
        border:none;
        background-color: $backgroundCards;
        .card-body{
            background-color:$backgroundCards;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
            .card-title{
                color:$colorPrincipal;
                font-family:$fontSecundaria;
                font-size: 33px;
                margin: 25px 0;
                }
                .card-text{
                color:white;
                font-family:$fontPrincipal;
                font-size: 16px;
                padding-top: 20px;
                line-height:25px;}
            .card-img-top{
                  height: 600px;
              }
        .btn{
            margin: 55px 0px;
            width: 200px;
        }
    }
}


//Segunda Media Query 

@media only screen and (min-width:425px){
    //H1
    .h1_index{
        font-size: 60px;
    }
    //Carousel
    .banner{
        height:500px;
    }
    //Segundo Titulo
    .titulo2{
        font-size: 50px;
    }
    //Cards
    .card {
            border-radius: 10px;
            background-color: rgba(184, 163, 163, 0.157);
            height: 1100px;
            .card-img-top{
            height: 700px;
        }
        .btn{
            margin: 100px 0;
        }
    }

}

//Tercer Media Query

@media only screen and (min-width:768px){
    //H1
    .h1_index{
        font-size: 65px;
    }
    //Carousel
    .banner{
        height: 550px;
    }
    //Segundo Titulo
    .titulo2{
        font-size:56px;
    }
    //Cards
    .contenedorCards{
        display: flex;
        justify-content: center;
        .card{
            width: 500px;
            height: 88rem;
            padding: 10px;
            .card-title{
                margin: 50px 0;
            }
            .card-img-top{
                height: 850px;
            }
        }
    }
}

@media only screen and (min-width:975px){
    //Carousel
    .banner{
        height: 650px;
    }
    //Cards
    .contenedorCards{
        width:auto;
        display: flex;
        justify-content: space-around;
        .card{
            width: 300px;
            transform: scale(1);
            transition: all 1.2s ease;
            &:hover{
            transform: scale(1.1);
        }
        .card-img-top{
            height: 600px !important;
        }
            .card-title{
                font-size: 30px;
            }
        }
    }
}

//Cuarta Media Query

@media only screen and (min-width:1440px){
    //H1
    .h1_index{
        font-size: 75px;
        &:hover{
            color:$colorSecundario;
        }
    }
    //Carousel
    .banner{
        height: 700px;
    }
    //Cards
    .card{
        width: 400px !important;
        height: 75rem !important;
        margin-bottom: 200px;
        transform: scale(1);
        transition: all 1.2s ease;
        &:hover{
            transform: scale(1.1);
        }
        .card-img-top{
            height: 600px !important;
        }
    }
}



