//Colores
$colorPrincipal:rgb(98, 29, 98);
$colorSecundario:rgb(207, 203, 203);

//Tamaños

$size1:70px;
$size2:50px;
$size3:30px;

//Tipografias

$fontPrincipal:'Comfortaa', cursive;
$fontSecundaria: 'Bad Script', cursive;

$fontTitulos:Amatic SC,cursive;

//Mixin
@mixin tituloPrincipal {
    text-align: center;
    color:$colorPrincipal;
    font-size:70px;
    font-family:$fontTitulos;
    margin-top: 150px;}

@mixin tituloSecundario{
    text-align: center;
    color:$colorPrincipal;
    font-size:55px;
    font-family:$fontTitulos;
    margin-top: 150px;}


//Fin de variables