//Colores
$colorPrincipal:rgb(212, 73, 205);
$colorSecundario:rgb(207, 203, 203);
$backgroundCards:rgba(20, 20, 20, 0.705);

//Tamaños

$size1:70px;
$size2:50px;
$size3:30px;

//Tipografias

$fontPrincipal:'Comfortaa', cursive;
$fontSecundaria: 'Bad Script', cursive;
$terceraFont:'Montserrat', sans-serif;
$cuartaFont: 'Poppins', sans-serif;

$fontTitulos:Amatic SC,cursive;

//Mixin
@mixin tituloPrincipal {
    text-align: center;
    color:$colorPrincipal;
    font-family:$fontTitulos;
    margin-top: 150px;}

@mixin tituloSecundario{
    text-align: center;
    color:$colorPrincipal;
    font-family:$fontTitulos;
    margin-top: 150px;}

@mixin titulo__previoFooter{
    
        color:$colorSecundario;
        text-align: center;
        margin: 2em 0;
        font-family: $fontSecundaria;
        background-color: rgb(19, 18, 18);
        height: 5em;
        padding: 25px 0;
        & a{
            color:$colorPrincipal;
        }
    }


//Fin de variables