/* ZONAS ZONAS ZONAS */
/* ZONAS ZONAS ZONAS */
/* ZONAS ZONAS ZONAS */
/* ZONAS ZONAS ZONAS */

/* Header */

nav {background-color: rgb(27, 26, 26) !important;
    .navbar-nav {
        font-family:$fontTitulos;
        font-size: 22px;
    }
    .nav-item {
        padding: 0px 10px;
    }
    .nav-link:hover {color:$colorPrincipal !important;}
}

/* MAIN MAIN MAIN MAIN */

/* Titulo */

#main{
    .h1_zonas{  
    @include tituloPrincipal();
    &:hover{
        color:$colorSecundario;
    }
}
.section1_zonas {
    margin:100px 0;
}

.tituloZonas{color:$colorSecundario;
            font-family:$fontSecundaria;
            text-align: center;
            font-size: 25px;}

.section2_zonas{
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color:$colorPrincipal;
        font-family:$fontTitulos;
        margin:100px auto;
    & li {
        list-style: none;
          &:hover{color: $colorSecundario;}
        }
    }
}  

}
/* Footer */

#footer {
    margin-top: 100px;
    background-color: black;
    height: 150px;
    .redes {
        display: flex;
        justify-content: center;
}
button {
    width: 100px;
    height: 50px;
    background-color:black;
    color:$colorSecundario;
    border: none;
    font-size:$size3
}
button a  {
    color:$colorSecundario;
    &:hover {color:$colorPrincipal;}
}
.copyright {
    display: flex;
    justify-content: center;
    margin:50px 0;
    color:$colorSecundario;
    }
}

//Primer Media Query

@media only screen and (min-width:320px){
    //H1
    .h1_zonas{
    font-size: 45px;
} 
.section2_zonas{
    ul{
        font-size: 20px;
        padding: 8px;
        li{
            margin: 0 4px;
        }
    }
}
}

@media only screen and (min-width:425px){
    .section2_zonas{
        ul{
            font-size: 28px;
        }
    }
}

@media only screen and (min-width:1440px){
    .h1_zonas{
        font-size:60px;
    }
    .section2_zonas{
        ul{
            font-size: 35px;
        }
    }
}
