@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* INDEX INDEX */
/* Header */
nav {
  background-color: #1b1a1a !important;
}

nav .navbar-nav {
  font-family: Amatic SC, cursive;
  font-size: 22px;
  cursor: pointer;
}

nav .nav-item {
  padding: 0px 10px;
  cursor: pointer;
}

nav .nav-item .nav-link {
  cursor: pointer;
  position: relative;
}

nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #d449cd;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: pointer;
}

nav .nav-item .nav-link:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

/* Carousel */
.mainCarousel {
  margin-top: 80px;
}

.banner {
  width: 100%;
}

.carousel-caption {
  margin-top: 500px;
}

/* Titulo y Cards */
.titulo2 {
  text-align: center;
  color: #d449cd;
  font-family: Amatic SC, cursive;
  margin-top: 150px;
  font-size: 55px;
}

.titulo2:hover {
  color: #cfcbcb;
}

.tituloFinal {
  color: #cfcbcb;
  text-align: center;
  margin: 2em 0;
  font-family: "Bad Script", cursive;
  background-color: #131212;
  height: 5em;
  padding: 25px 0;
}

.tituloFinal a {
  color: #d449cd;
}

/* Footer */
#footer {
  margin-top: 100px;
  background-color: black;
  height: 150px;
}

#footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
}

#footer button a {
  color: white;
}

#footer button a:hover {
  color: #d449cd;
}

#footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  color: #cfcbcb;
}

@media only screen and (min-width: 320px) {
  .h1_index {
    text-align: center;
    color: #d449cd;
    font-family: Amatic SC, cursive;
    margin-top: 150px;
    font-size: 47px;
  }
  .banner {
    height: 350px;
  }
  .titulo2 {
    font-size: 40px;
  }
  .card {
    height: 1110px;
    margin: 80px 0px;
    border: none;
    background: black;
  }
  .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(20, 20, 20, 0.705);
  }
  .card .card-title {
    color: #d449cd;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin: 25px 0;
  }
  .card .card-text {
    color: white;
    font-family: "Comfortaa", cursive;
    font-size: 16px;
    padding-top: 20px;
    line-height: 25px;
  }
  .card .card-img-top {
    height: 600px;
  }
  .card .btn {
    margin: 55px 0px;
    width: 200px;
    background-color: skyblue;
  }
}

@media only screen and (min-width: 425px) {
  .h1_index {
    font-size: 60px;
  }
  .banner {
    height: 500px;
  }
  .titulo2 {
    font-size: 50px;
  }
  .card {
    border-radius: 10px;
    background-color: black;
    height: 1100px;
  }
  .card .card-img-top {
    height: 700px;
  }
  .card .btn {
    margin: 100px 0;
  }
}

@media only screen and (min-width: 768px) {
  .h1_index {
    font-size: 65px;
  }
  .banner {
    height: 550px;
  }
  .titulo2 {
    font-size: 56px;
  }
  .contenedorCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedorCards .card {
    width: 500px;
    height: 88rem;
    padding: 10px;
  }
  .contenedorCards .card .card-title {
    margin: 50px 0;
  }
  .contenedorCards .card .card-img-top {
    height: 850px;
  }
}

@media only screen and (min-width: 975px) {
  .banner {
    height: 650px;
  }
  .contenedorCards {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedorCards .card {
    width: 300px;
  }
  .contenedorCards .card .card-img-top {
    height: 600px !important;
  }
  .contenedorCards .card .card-title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .containerH1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerH1 .h1_index {
    font-size: 65px;
    width: 450px;
  }
  .containerH1 .h1_index:hover {
    color: #cfcbcb;
  }
  .containerT2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerT2 .titulo2 {
    width: 500px;
  }
  .banner {
    height: 700px;
  }
  .card {
    width: 400px !important;
    height: 75rem !important;
    background-color: black;
    margin-bottom: 200px;
  }
  .card .btn {
    position: relative;
    letter-spacing: 3px;
  }
  .card .btn::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    background: #d449cd;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .card .btn:hover::after {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card .btn {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 16rem;
    font-size: 17px;
    background-color: black !important;
    color: #d449cd;
    /* border:2px rgb(33, 185, 190) solid; */
    padding: 10px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .card .btn:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    /* border: 2.5px rgb(33, 185, 190) dashed; */
  }
  .card .card-img-top {
    height: 600px !important;
  }
}

/* CATALOGO CATALOGO CATALOGO */
/* CATALOGO CATALOGO CATALOGO */
/* Header */
nav {
  background-color: #1b1a1a !important;
}

nav .navbar-nav {
  font-family: Amatic SC, cursive;
  font-size: 22px;
}

nav .nav-item {
  padding: 0px 10px;
}

nav .nav-link:hover {
  color: #d449cd !important;
}

/* MAIN*/
.h1__catalogo {
  text-align: center;
  color: #d449cd;
  font-family: Amatic SC, cursive;
  margin-top: 150px;
  margin-bottom: 50px;
}

.h1__catalogo:hover {
  color: #cfcbcb;
}

.tituloFinal {
  color: #cfcbcb;
  text-align: center;
  margin: 2em 0;
  font-family: "Bad Script", cursive;
  background-color: #131212;
  height: 5em;
  padding: 25px 0;
}

.tituloFinal a {
  color: #d449cd;
}

.secFinal {
  height: 170px;
  background-image: url(../images/PortadaBanner.jpg);
  background-position: center;
  background-size: cover;
}

.titulo2 {
  text-align: center;
  color: #d449cd;
  font-family: Amatic SC, cursive;
  margin-top: 150px;
}

.section2 {
  margin-top: px;
}

.section2 .cardCatalogo .card-titleCat {
  color: #cfcbcb;
}

.section2 .cardCatalogo .card-titleCat .card-textCat {
  color: #cfcbcb;
}

/*  Footer */
#footer {
  margin-top: 10rem;
  background-color: black;
  height: 150px;
}

#footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
}

#footer button a {
  color: #cfcbcb;
}

#footer button a:hover {
  color: #d449cd;
}

#footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  color: #cfcbcb;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .h1__catalogo {
    font-size: 43px;
  }
  .cardCatalogo {
    margin: 70px 0px;
  }
  .cardCatalogo .card-img-centerCat {
    height: 500px;
    width: 100%;
  }
  .cardCatalogo .card-bodyCat {
    padding: 30px;
  }
  .cardCatalogo .card-bodyCat .card-titleCat {
    color: #d449cd;
    font-family: "Comfortaa", cursive;
    font-size: 25px;
    margin: 15px;
  }
  .cardCatalogo .card-bodyCat .card-textCat {
    color: #cfcbcb;
    font-size: 15px;
    font-family: "Comfortaa", cursive;
    line-height: 35px;
  }
  .cardCatalogo .card-bodyCat .card-textCat strong.precio {
    font-size: 22px;
    color: #d449cd;
  }
  .secFinal {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 425px) {
  .h1__catalogo {
    font-size: 55px;
  }
  .cardCatalogo {
    margin: 70px 0px;
  }
  .cardCatalogo .card-img-centerCat {
    height: 700px;
    width: 100%;
  }
  .cardCatalogo .card-bodyCat {
    padding: 30px;
  }
  .cardCatalogo .card-bodyCat .card-titleCat {
    color: #d449cd;
    font-family: "Comfortaa", cursive;
    font-size: 25px;
    margin: 15px;
  }
  .cardCatalogo .card-bodyCat .card-textCat {
    color: #cfcbcb;
    font-size: 15px;
    font-family: "Comfortaa", cursive;
    line-height: 35px;
  }
  .cardCatalogo .card-bodyCat .card-textCat strong.precio {
    font-size: 22px;
    color: #d449cd;
  }
  .secFinal {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
}

@media only screen and (min-width: 768px) {
  .h1__catalogo {
    font-size: 65px;
  }
  .cardCatalogo {
    width: 320px;
    height: 150px;
    margin: 50px auto 700px auto;
  }
  .cardCatalogo .card-img-centerCat {
    height: 450px;
    border-radius: 10px;
  }
  .secFinal {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
  }
}

@media only screen and (min-width: 1440px) {
  .cardCatalogo {
    width: 450px;
    height: 350px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .cardCatalogo:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .cardCatalogo .card-img-centerCat {
    height: 625px;
  }
  .seccionFinal {
    margin-bottom: 400px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }
  .seccionFinal .secFinal {
    height: 350px;
  }
}

/* SALUTE TV SALUTE TV SALUTE TV SALUTE TV  */
/* SALUTE TV SALUTE TV SALUTE TV SALUTE TV  */
/* SALUTE TV SALUTE TV SALUTE TV SALUTE TV  */
/* Header */
nav {
  background-color: #1b1a1a !important;
}

nav .navbar-nav {
  font-family: Amatic SC, cursive;
  font-size: 22px;
}

nav .nav-item {
  padding: 0px 10px;
}

nav .nav-link:hover {
  color: #d449cd !important;
}

/* Main */
#main .contenedor_h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .contenedor_h1 .tituloTV {
  text-align: center;
  color: #d449cd;
  font-family: Amatic SC, cursive;
  margin-top: 150px;
  font-size: 60px;
  width: 100px;
}

#main .contenedor_h1 .tituloTV:hover {
  color: #cfcbcb;
}

#main .textoPrincipal {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #cfcbcb;
  text-align: center;
  margin: 100px 0;
}

#main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

#main .section1 .texto2 {
  color: #cfcbcb;
  font-size: 20px;
  text-align: center;
  margin: 250px 0;
  font-family: "Montserrat", sans-serif;
  padding: 0px 50px;
}

#main .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 130px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .section2 .texto3 {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 200px 0;
  padding: 0px 50px;
}

/* Footer */
#footer {
  margin-top: 100px;
  background-color: black;
  height: 150px;
}

#footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: #cfcbcb;
  border: none;
  font-size: 30px;
}

#footer button a {
  color: #cfcbcb;
}

#footer button a:hover {
  color: #d449cd;
}

#footer button .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  color: #cfcbcb;
}

/* ZONAS ZONAS ZONAS */
/* Header */
nav {
  background-color: #1b1a1a !important;
}

nav .navbar-nav {
  font-family: Amatic SC, cursive;
  font-size: 22px;
}

nav .nav-item {
  padding: 0px 10px;
}

nav .nav-link:hover {
  color: #d449cd !important;
}

/* MAIN MAIN MAIN MAIN */
/* Titulo */
#main .h1_zonas {
  text-align: center;
  color: #d449cd;
  font-family: Amatic SC, cursive;
  margin-top: 150px;
}

#main .h1_zonas:hover {
  color: #cfcbcb;
}

#main .section1_zonas {
  margin: 100px 0;
}

#main .tituloZonas {
  color: #cfcbcb;
  font-family: "Bad Script", cursive;
  text-align: center;
  font-size: 25px;
}

#main .section2_zonas ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #d449cd;
  font-family: Amatic SC, cursive;
  margin: 100px auto;
}

#main .section2_zonas ul li {
  list-style: none;
}

#main .section2_zonas ul li:hover {
  color: #cfcbcb;
}

/* Footer */
#footer {
  margin-top: 100px;
  background-color: black;
  height: 150px;
}

#footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: #cfcbcb;
  border: none;
  font-size: 30px;
}

#footer button a {
  color: #cfcbcb;
}

#footer button a:hover {
  color: #d449cd;
}

#footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  color: #cfcbcb;
}

@media only screen and (min-width: 320px) {
  .h1_zonas {
    font-size: 45px;
  }
  .section2_zonas ul {
    font-size: 20px;
    padding: 8px;
  }
  .section2_zonas ul li {
    margin: 0 4px;
  }
}

@media only screen and (min-width: 425px) {
  .section2_zonas ul {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1440px) {
  .h1_zonas {
    font-size: 60px;
  }
  .section2_zonas ul {
    font-size: 35px;
  }
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: black;
}
/*# sourceMappingURL=estilos.css.map */