@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


@import "variables";
@import "index";
@import "catalogo";
@import "tv";
@import "zonas";

html {overflow-x: hidden;}


body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}
 

